@tailwind base;

@tailwind components;

@tailwind utilities;

.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #374151;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
    background: none;
}

.scroll-hidden::-webkit-scrollbar {
    height: 0;
    width: 0;
    background: transparent; /* make scrollbar transparent */
    scrollbar-width: none;
}
